
#counter-container{
    width: 800px;
    height: 130px;
    overflow: hidden;
    color: #FFF;
    font-weight: bold;
    // background-color: darkslateblue;
    text-align: center;
    padding: 7px;
    font-size: 7.2em; //3em;
    line-height: 1em;
    display: flex;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
#counter-container div{
    position: relative;
}

// ============================== Copied in sty.scss because the @font must be loaded first.

// @font-face {
//     font-family: StagSansBlack;
//     font-style: normal;
//     font-weight: 400;
//     src: url(fonts/StagSans-Black.otf) format("otf");
// }

// #score{
//     font-family: "odoFont";     
//     display: flex;
//     flex-direction: row;
//     height: 1em;
//     position: relative;
//     top: -50px;
// }

#dollarSign{
    margin-top: 54px;
}

.statique{
    margin-top: 54px;
}

.coma{
    margin-top: 54px;
    // margin-left: 5px;
}

.digit_band{
    border: 1px red;
    position: relative;
    width: 0.7em;
    margin-top: 55px;
}
.digit_band_in{
    border: 1px red;
    position: absolute;
}