#counter-container{width:800px;height:130px;overflow:hidden;color:#FFF;font-weight:bold;text-align:center;padding:7px;font-size:7.2em;line-height:1em;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-line-pack:center;align-content:center;position:absolute;top:0;left:0;z-index:10}#counter-container div{position:relative}#dollarSign{margin-top:54px}.statique{margin-top:54px}.coma{margin-top:54px}.digit_band{border:1px red;position:relative;width:0.7em;margin-top:54px}.digit_band_in{border:1px red;position:absolute}
/*# sourceMappingURL=odometer.min.css.map */