@font-face {
  font-family: "StagSansMedium";
  src: url("fonts/StagSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "StagSansBold";
  src: url("fonts/StagSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
/***************************************************************
*
* STANDARD BANNER CONTAINERS AND ASSETS
*
***************************************************************/
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: white;
}

svg {
  width: 100%;
  height: 100%;
  user-select: none;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #0065a4;
}

ft-video, video {
  position: absolute;
  background-color: #0065a4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  pointer-events: all;
  cursor: pointer;
}

#footer {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  box-shadow: 0px -4px 8px -4px rgba(0, 0, 0, 0.15);
  background-color: white;
  transform-origin: 50% 100%;
}

#deviceHolder {
  top: 0;
  left: 0;
}

#bubble {
  transform-origin: 99px 410px;
}

/**************************************************************** 
*    SVG ANIM - 3D Text Extrusion 
*****************************************************************/
/* $700 */
/**************************************************************** 
*    END FOR SVG ANIM - 3D Text Extrusion 
*****************************************************************/
.medium {
  font-family: "StagSansMedium", sans-serif;
}

.semiBold, .semibold {
  font-family: "StagSansMedium", sans-serif;
  font-weight: bold;
}

.bold {
  font-family: "StagSansBold", sans-serif;
}

.invisibleStart {
  opacity: 0;
  visibility: hidden;
}

.tintWhite {
  -webkit-filter: brightness(0%) invert(100%);
  filter: brightness(0%) invert(100%);
}

sup, sub {
  vertical-align: baseline;
  position: relative;
}

sup {
  top: -0.6em;
  font-size: 0.5em;
}

.text {
  position: absolute;
  display: block;
}

.centered-h {
  width: 100%;
  text-align: center !important;
}

div {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

/***************************************************************
*
* CTA
*
***************************************************************/
#cta_btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 90px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
  background: #ee3040;
  /* Old browsers */
}

#cta_text {
  font-family: "StagSansMedium";
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#cta_text transform:translateY(.5px) #ctaArrow {
  position: relative;
}

#cta_gradient {
  position: absolute;
  top: -50px;
  left: -90px;
  width: 60px;
  height: 100px;
  transform: rotate(30deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.5) 250%);
}

/***************************************************************
*
* LEGAL BUTTON & LEGAL DETAILS
*
***************************************************************/
#legal_text {
  position: absolute;
  z-index: 1000;
  padding: 3px;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  font-size: 8px;
  text-align: left;
  color: black;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transform: translateX(0px) translateY(0px);
}

#legal_ia_text {
  opacity: 0.7;
  transition: opacity 0.25s ease-linear;
}

#legal_ia_text:hover {
  opacity: 1;
  transition: opacity 0.25s ease-linear;
}

#legal_details {
  display: none;
  position: absolute;
  z-index: 1001;
  visibility: hidden;
  width: 100%;
  height: auto;
  bottom: 0px;
  left: 0px;
}

#legal_details_text {
  padding: 5px;
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

#legal_details_text a {
  color: #ffffff;
  text-decoration: none;
}

/***************************************************************
*
* CAROUSEL
*
***************************************************************/
#device_carousel {
  visibility: hidden;
  position: absolute;
  z-index: 100;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#device_sets_container {
  position: relative;
  flex: 1 1 84%;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 0 5px;
}

.carousel-controls {
  display: block;
  flex: 1 1 8%;
  margin: 0 2px;
}

.device {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#left-button,
#right-button {
  flex: 1 1 100%;
  align-self: center;
  opacity: 0.5;
  cursor: pointer;
  z-index: 100;
}

:hover {
  transition: all 0.3s ease;
  opacity: 1;
}

#left-button {
  transform: scaleX(-1);
}

/*#device_carousel END*/
#carousel_logo_holder {
  visibility: hidden;
  position: absolute;
  display: block;
  overflow: hidden;
}

.devicelogo {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/***************************************************************
*
* SNIPE
*
***************************************************************/
#snipe {
  z-index: 11;
  background-color: #0064a3;
  width: 160px;
  height: 18px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(42deg);
  position: absolute;
  top: 16px;
  right: -51px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#snipeText {
  color: white;
  font-family: "StagSansSemiBold", Arial, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 1px;
}

#snipeGradient {
  position: absolute;
  top: -50px;
  left: -60px;
  width: 60px;
  height: 100px;
  transform: rotate(30deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 60%);
}

#snipe .snipeBold {
  /*font-weight: bold;*/
  font-family: "StagSansMedium", Arial, sans-serif;
}
